@font-face {
     font-family: eurostile bold;
     src: url('fonts/eurostile-bold.ttf'); 
}
@font-face {
     font-family: eurostile;
     src: url('fonts/eurostile.ttf'); 
}

.header {
   height: 120px; background: #6A92D4; margin:-10px -8px -30px;
}
#headercontent {
  width: 75%; margin: 0 auto;padding-top:10px; 
}
.navbar{
    list-style:none;
  margin: 0 auto;
  width:75%;
    padding:0;
    text-align:center; 
  background:#ebebeb;
  box-shadow: 0 3px 5px 2px #888;
  font-family: eurostile, arial, sans-serif;
}
.navbar li{
    display:inline;
}
.navbar a{
    display:inline-block;
    padding:10px;
}
body{
  background:#DAD2D0;
}
.container {
  background: pink; width:75%; margin: -15px auto 0 auto; overflow: hidden; box-shadow: 0 3px 5px 2px #888; font-family: eurostile, arial, sans-serif; font-size:15pt;
}
#article {
  width: 55%; padding: 15px; float:left;
}
#piderman {float:left; margin-right:30px; margin-bottom:20px;
}
#aside{float:right; width: 35%; padding: 15px;
}

#contacttitle  {margin-left:30px;
}

#thanks {
padding-left:30;
}

#contact-area {
	width: 600px;
	margin-top: 25px;
  padding-left:30px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 471px;
	font-size: 1.4em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;
}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}

#text{
text-align:center;
}

.resume{
  margin: 20px;
}

.list1{display:inline-block; margin-top: -20px;}
.list2{display:inline-block; margin-top: -20px;}
.list3{display:inline-block; margin-top: -20px;}
.list4{display:inline-block; margin-top: -20px;}

.footer{text-align:center; margin: 20px;}